body {
	background: linear-gradient(to right, #92A9BD, #7C99AC);
	color: white;
	margin: 0;
	font-family: rubik;
}

h1 {
	text-align: center;
	font-size: 54px;
}

section {
    padding: 40px;
	margin: 0 auto;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: white;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: white;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}

/* Pokémon Types */
.bug {
    background-color: #89970d;
}


.dragon {
    background-color: #735cda;
}

.electric {
    background-color: #f5b512;
}

.fairy {
    background-color: #e495e2;
}

.fighting {
    background-color: #692717;
}

.fire {
    background-color: #e93d0c;
}

.flying {
    background-color: #6d81d7;
}

.ghost {
    background-color: #4a4b88;
}

.grass {
    background-color: #7bc53d;
}

.ground {
    background-color: #d1b055;
}

.ice {
    background-color: #a6e7ff;
}

.normal {
    background-color: #c6c0b9;
}

.poison {
    background-color: #7d337e;
}

.psychic {
    background-color: #e13c71;
}

.rock {
    background-color: #9e853e;
}

.steel {
    background-color: #9090a0;
}

.water {
    background-color: #1370c7;
}